@page "/"
@using BlazorApp.Client.Components
@inject ILocalStorageService _localstorage
@inject IJSRuntime js

<PageTitle>Eat my entire ass</PageTitle>

<Navbar OnShowHelpDialog="ShowHelpDialog" OnShowAboutDialog="ShowAboutDialog" OnShowOptionsDialog="ShowOptionsDialog" />

<div class="vstack justify-content-center align-content-center text-center py-5 my-5" @onclick="EatPiece">
    <p class="display-4 fw-light text-center">Eat my entire ass!</p>
    <p class="display-1 mb-0">@TimerDisplay</p>
    <AssImageDisplay piecesEaten="@piecesEaten" AssFrames="@AssFrames" CurrentAssType="@CurrentAssType" />
</div>

<HelpModal @ref="HelpDialog" CarouselItems="@CarouselItems" />
<AboutModal @ref="AboutDialog" />
<ResultsModal @ref="ResultsDialog" assesEaten="@assesEaten" scoreText="@scoreText" AssTypes="@Breakdown.Keys.ToList()" Breakdown="@Breakdown" OnTryAgain="TryAgain" />
<OptionsModal @ref="OptionsDialog" playSounds="@playSounds" volume="@volume" OnToggleSound="ToggleSound" />
