@using System.Timers;
@page "/"
@inject ILocalStorageService _localstorage
@inject IJSRuntime js

<PageTitle>Eat my entire ass</PageTitle>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <h1>
            <a class="navbar-brand" href="#">
                <img class="img-fluid" src="/icon-192.png" width="25" />
                EMEA
            </a>
        </h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav justify-content-end gap-3 w-100">
                <Tooltip Title="What the hell is this?" Placement="TooltipPlacement.Auto">
                    <Button Color="ButtonColor.Light" Outline="true" Class="rounded-circle px-3" @onclick="ShowHelpDialog">
                        ?
                    </Button>
                </Tooltip>

                <Tooltip Title="Who is responsible for this?" Placement="TooltipPlacement.Auto">
                    <Button Color="ButtonColor.Light" Outline="true" Class="rounded-circle" @onclick="ShowAboutDialog">
                        <i class="fas fa-user"></i>
                    </Button>
                </Tooltip>
            </div>
        </div>
    </div>
</nav>

<div class="vstack justify-content-center align-content-center text-center py-5 my-5" @onclick="EatPiece">
        <p class="display-4 fw-light text-center mb-0">
            Eat my entire ass!
        </p>
        <p class="fs-6 mb-5">
            You have 1 minute to eat as much ass as you can. Your score is based on how many whole asses you consume. Unfinished portions do not count
        </p>
        <p class="display-1 mb-0">
            @TimerDisplay
        </p>
        <p class="fs-6">
            @if(piecesEaten < AssFrames.Count()-2)
            {
                @: (click to <strong>eat</strong> ass)
            }
            else
            {
                @: (click to <strong>finish</strong> ass)
            }
            <br/>
            <img class="img-fluid" src="/images/@CurrentAssType.ToString()/@AssFrames[piecesEaten]" width="600" />
        </p>
    </div>


<Modal @ref="HelpDialog" IsVerticallyCentered="true" HeaderCssClass="bg-body-secondary text-body">
    <HeaderTemplate>
        <h5 class="modal-title text-peach">
            <span class="fa-layers fa-fw me-3">
                <i class="fas fa-circle" data-fa-transform="left-3"></i>
                <i class="fas fa-circle" data-fa-transform="right-3"></i>
                <i class="fas fa-circle text-dark" data-fa-transform="shrink-12"></i>
            </span>
            Butt why?
        </h5>
    </HeaderTemplate>
    <BodyTemplate>
        Don't ask. Eat ass.
        <div class="hstack justify-content-end">
            <Button Color="ButtonColor.Primary" @onclick="HideHelpDialog">
                Ok! <i class="fas fa-face-grin-wide ms-3"></i>
            </Button>
        </div>
    </BodyTemplate>
</Modal>

<Modal @ref="AboutDialog" IsVerticallyCentered="true" HeaderCssClass="bg-body-secondary text-body">
    <HeaderTemplate>
        <h5 class="modal-title">
            <i class="fas fa-user"></i>
            Who's responsible for this?
        </h5>
    </HeaderTemplate>
    <BodyTemplate>
        Some dude behind a keyboard with way too much time on his hands.
        <div class="hstack justify-content-end">
            <Button Color="ButtonColor.Primary" @onclick="HideAboutDialog">
                Makes Sense <i class="fas fa-check ms-3"></i>
            </Button>
        </div>
    </BodyTemplate>
</Modal>

<Modal @ref="ResultsDialog" IsVerticallyCentered="true" HeaderCssClass="bg-primary text-white">
    <HeaderTemplate>
        <h5 class="modal-title">
            <i class="fas fa-flag-checkered"></i>
            Results: @Math.Truncate(assesEaten) ass(es)
        </h5>
    </HeaderTemplate>
    <BodyTemplate>
        <p class="display-1 text-center fw-bold">
            @Math.Truncate(assesEaten)
        </p>
        <p class="lead text-center">
            @scoreText
        </p>

        <p>Breakdown:</p>
        <div class="row">
            <div class="col">
                <p class="text-center">
                    <img src="/images/Boney/entire_ass.png" width="50" />
                    <br/>
                    <span class="fw-bold">
                        @Breakdown[Shared.Assets.AssTypeEnum.Boney]
                    </span>
                </p>
            </div>
            <div class="col">
                <p class="text-center">
                    <img src="/images/Cartoon/entire_ass.png" width="50" />
                    <br />
                    <span class="fw-bold">
                        @Breakdown[Shared.Assets.AssTypeEnum.Cartoon]
                    </span>
                </p>
            </div>
            <div class="col">
                <p class="text-center">
                    <img src="/images/Flat/entire_ass.png" width="50" />
                    <br />
                    <span class="fw-bold">
                        @Breakdown[Shared.Assets.AssTypeEnum.Flat]
                    </span>
                </p>
            </div>
            <div class="col">
                <p class="text-center">
                    <img src="/images/Golden/entire_ass.png" width="50" />
                    <br/>
                    <span class="fw-bold">
                        @Breakdown[Shared.Assets.AssTypeEnum.Golden]
                    </span>
                </p>
            </div>
            <div class="col">
                <p class="text-center">
                    <img src="/images/GYAT/entire_ass.png" width="50" />
                    <br />
                    <span class="fw-bold">
                        @Breakdown[Shared.Assets.AssTypeEnum.GYAT]
                    </span>
                </p>
            </div>
            <div class="col">
                <p class="text-center">
                    <img src="/images/Hairy/entire_ass.png" width="50" />
                    <br />
                    <span class="fw-bold">
                        @Breakdown[Shared.Assets.AssTypeEnum.Hairy]
                    </span>
                </p>
            </div>
        </div>
        <div class="hstack justify-content-end">
            <Button Color="ButtonColor.Primary" @onclick="TryAgain">
                Try again <i class="fas fa-rotate ms-3"></i>
            </Button>
        </div>
    </BodyTemplate>
</Modal>

