@using BlazorApp.Client.Components.BootstrapCarousel
@using static BlazorApp.Shared.Assets

@code {
    [Parameter] public List<BlazorApp.Client.Components.BootstrapCarousel.CarouselItem> CarouselItems { get; set; } = new();
    
    public BSModal? Modal;
}

<BSModal @ref="Modal" Id="helpModal" IsVerticallyCentered="true">
    <Header>
        <h5 class="modal-title text-peach">
            <i class="fas fa-book-open me-3"></i>
            How to Play
        </h5>
    </Header>
    <Body>
        <h6 class="mb-3">Game Rules:</h6>
        <ul>
            <li>You have exactly <strong>60 seconds</strong> to eat as much ass as possible</li>
            <li>Click rapidly to devour ass</li>
            <li>Each ass type has a different point value</li>
            <li>You must finish eating an ass completely to score points</li>
            <li>Partially eaten asses don't count - get to the core if you want to score.</li>
            <li>Final scores will round down. No half points. Fractions are for pussy's!</li>
        </ul>
        
        <h6 class="mt-4 mb-3">Scoring Guide:</h6>
        <p>There are @Enum.GetValues(typeof(AssTypeEnum)).Length different types of asses to discover:</p>
        <BootstrapCarousel Items="CarouselItems" ShowIndicators="false" Id="AssCarousel">
            <ItemTemplate>
                <div class="hstack gap-3">
                    <img src="@context.ImageUrl" class="d-block w-50" alt="@context.AltText" />
                    <div class="text-light">
                        <h5>@context.Title</h5>
                        <p>@context.Description</p>
                    </div>
                </div>
            </ItemTemplate>
        </BootstrapCarousel>
        <div class="hstack justify-content-end mt-4">
            <button type="button" class="btn btn-primary" @onclick="async () => await Modal?.Hide()">
                Got it! <i class="fas fa-play ms-2"></i>
            </button>
        </div>
    </Body>
</BSModal>
